In [ ]:
import pandas as pd
import numpy as np

## Combine EHR and survey data with SNPs data

In [ ]:
# Load the dataset
ra_df = pd.read_csv('ra_demo_survey_code.csv')

In [44]:
ra_df.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,ra_event_survey,age_at_survey_event,age_at_condition_event,age_at_last_ehr
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00,2021-10-06 00:00:00+00:00,2021-10-06 00:00:00+00:00,0.0,1.0,43.0,45.0,45.0
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00,2021-10-08 00:00:00+00:00,2021-10-08 00:00:00+00:00,0.0,1.0,68.0,70.0,70.0
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00,2022-06-28 05:00:00+00:00,2022-06-28 05:00:00+00:00,0.0,1.0,61.0,65.0,65.0
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00,2021-08-27 00:00:00+00:00,2021-08-27 00:00:00+00:00,0.0,1.0,32.0,34.0,34.0
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00,2022-06-29 13:06:00+00:00,2022-06-29 13:06:00+00:00,0.0,1.0,67.0,68.0,68.0

In [45]:
ra_df.shape

(18822, 14)

In [46]:
ra_case_snp = pd.read_csv('ra_case_selected_snp_matrix.csv')
ra_control_nonwhite1_snp = pd.read_csv('ra_control_nonwhite1_selected_snp_matrix.csv')
ra_control_nonwhite2_snp = pd.read_csv('ra_control_nonwhite2_selected_snp_matrix.csv')
ra_control_white1_snp = pd.read_csv('ra_control_white1_selected_snp_matrix.csv')
ra_control_white2_snp = pd.read_csv('ra_control_white2_selected_snp_matrix.csv')

In [47]:
ra_snp = pd.concat([ra_case_snp, ra_control_nonwhite1_snp, ra_control_nonwhite2_snp, ra_control_white1_snp, ra_control_white2_snp])

In [48]:
ra_snp.head()

,person_id,12:111446804:T:C,12:45976333:C:G,13:39781776:T:C,14:104920174:G:A,14:68287978:G:A,1:116738074:C:T,5:143224856:A:G,6:159082054:A:G,6:36414159:G:GA,9:34710263:G:A
0,1000042,2.0,2,0.0,1,2,1.0,0,2,2,2
1,1000059,1.0,2,1.0,2,2,0.0,2,1,1,1
2,1003242,2.0,2,1.0,2,0,2.0,1,1,1,2
3,1004690,1.0,2,1.0,1,0,1.0,1,2,1,1
4,1004776,0.0,1,1.0,2,2,2.0,1,1,2,1

In [49]:
ra_snp.shape

(18822, 11)

In [50]:
ra_df = ra_df.merge(ra_snp, how='inner')

In [51]:
ra_df.shape

(18822, 24)

In [52]:
ra_df.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,...,12:111446804:T:C,12:45976333:C:G,13:39781776:T:C,14:104920174:G:A,14:68287978:G:A,1:116738074:C:T,5:143224856:A:G,6:159082054:A:G,6:36414159:G:GA,9:34710263:G:A
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00,2021-10-06 00:00:00+00:00,2021-10-06 00:00:00+00:00,0.0,...,1.0,2,2.0,2,2,1.0,2,1,0,1
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00,2021-10-08 00:00:00+00:00,2021-10-08 00:00:00+00:00,0.0,...,1.0,2,0.0,2,1,0.0,0,0,1,2
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00,2022-06-28 05:00:00+00:00,2022-06-28 05:00:00+00:00,0.0,...,1.0,0,0.0,1,2,1.0,0,0,2,0
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00,2021-08-27 00:00:00+00:00,2021-08-27 00:00:00+00:00,0.0,...,2.0,1,0.0,2,0,2.0,0,0,1,0
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00,2022-06-29 13:06:00+00:00,2022-06-29 13:06:00+00:00,0.0,...,0.0,0,0.0,2,0,0.0,0,0,0,0

In [53]:
ra_df.describe()

,person_id,ra_code_YN,ra_event_survey,age_at_survey_event,age_at_condition_event,age_at_last_ehr,12:111446804:T:C,12:45976333:C:G,13:39781776:T:C,14:104920174:G:A,14:68287978:G:A,1:116738074:C:T,5:143224856:A:G,6:159082054:A:G,6:36414159:G:GA,9:34710263:G:A
count,1.882200e+04,11839.000000,8298.000000,8298.000000,11839.000000,11839.000000,18821.000000,18822.000000,18820.000000,18822.000000,18822.000000,18817.000000,18822.000000,18822.000000,18822.000000,18822.000000
mean,2.679280e+06,0.115466,0.467462,53.330682,48.120618,49.013937,1.034164,0.692488,0.680181,1.528530,0.425194,1.009725,0.464244,0.707470,0.649081,0.654713
std,1.872373e+06,0.319597,0.498970,16.140349,16.848288,17.310997,0.833193,0.884190,0.808584,0.785548,0.725124,0.842989,0.699208,0.886867,0.839655,0.812440
min,1.000042e+06,0.000000,0.000000,18.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.513822e+06,0.000000,0.000000,40.000000,32.000000,32.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.028362e+06,0.000000,0.000000,57.000000,49.000000,51.000000,1.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,3.051808e+06,0.000000,1.000000,67.000000,62.000000,62.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
max,9.998676e+06,1.000000,1.000000,101.000000,102.000000,102.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [1]:
# set up
import os
import subprocess
import numpy as np
import pandas as pd

In [55]:
# This snippet assumes you run setup first

# This code saves your dataframe into a csv file in a "data" folder in Google Bucket

# Replace df with THE NAME OF YOUR DATAFRAME
my_dataframe = ra_df  

# Replace 'test.csv' with THE NAME of the file you're going to store in the bucket (don't delete the quotation marks)
destination_filename = 'RA_data.csv'

########################################################################
##
################# DON'T CHANGE FROM HERE ###############################
##
########################################################################

# save dataframe in a csv file in the same workspace as the notebook
my_dataframe.to_csv(destination_filename, index=False)

# get the bucket name
my_bucket = os.getenv('WORKSPACE_BUCKET')

# copy csv file to the bucket
args = ["gsutil", "cp", f"./{destination_filename}", f"{my_bucket}/data/"]
output = subprocess.run(args, capture_output=True)

# print output from gsutil
output.stderr

b'Copying file://./RA_data.csv [Content-Type=text/csv]...\n/ [0 files][    0.0 B/  3.0 MiB]                                                \r-\r- [0 files][  1.8 MiB/  3.0 MiB]                                                \r\\\r\\ [1 files][  3.0 MiB/  3.0 MiB]                                                \r|\r\nOperation completed over 1 objects/3.0 MiB.                                      \n'

In [ ]:
# This code copies file in your Google Bucket and loads it into a dataframe

# Replace 'test.csv' with THE NAME of the file you're going to download from the bucket (don't delete the quotation marks)
name_of_file_in_bucket = 'RA_data.csv'

########################################################################
##
################# DON'T CHANGE FROM HERE ###############################
##
########################################################################

# get the bucket name
my_bucket = os.getenv('WORKSPACE_BUCKET')

# copy csv file from the bucket to the current working space
os.system(f"gsutil cp '{my_bucket}/data/{name_of_file_in_bucket}' .")

print(f'[INFO] {name_of_file_in_bucket} is successfully downloaded into your working space')
# save dataframe in a csv file in the same workspace as the notebook
my_dataframe = pd.read_csv(name_of_file_in_bucket)
my_dataframe.head()

Copying gs://fc-secure-28df46b0-6f9d-4443-ae5f-cb0492e90c24/data/RA_data.csv...
/ [1 files][  3.0 MiB/  3.0 MiB]
Operation completed over 1 objects/3.0 MiB.

[INFO] RA_data.csv is successfully downloaded into your working space

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,...,12:111446804:T:C,12:45976333:C:G,13:39781776:T:C,14:104920174:G:A,14:68287978:G:A,1:116738074:C:T,5:143224856:A:G,6:159082054:A:G,6:36414159:G:GA,9:34710263:G:A
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00,2021-10-06 00:00:00+00:00,2021-10-06 00:00:00+00:00,0.0,...,1.0,2,2.0,2,2,1.0,2,1,0,1
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00,2021-10-08 00:00:00+00:00,2021-10-08 00:00:00+00:00,0.0,...,1.0,2,0.0,2,1,0.0,0,0,1,2
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00,2022-06-28 05:00:00+00:00,2022-06-28 05:00:00+00:00,0.0,...,1.0,0,0.0,1,2,1.0,0,0,2,0
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00,2021-08-27 00:00:00+00:00,2021-08-27 00:00:00+00:00,0.0,...,2.0,1,0.0,2,0,2.0,0,0,1,0
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00,2022-06-29 13:06:00+00:00,2022-06-29 13:06:00+00:00,0.0,...,0.0,0,0.0,2,0,0.0,0,0,0,0